@model List<CurriculoViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listagem de Currículos</h2>
<a href="/Curriculo/create" class="btn btn-primary">Novo Registro</a>
<br /><br />

<table class="table table-responsive table-hover table-striped">
    <thead>
        <tr>
            <th>Ações</th>
            <th>ID</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Telefone</th>
            <th>Email</th>
            <th>Cargo Pretendido</th>
            <th>Formações Acadêmicas</th>
            <th>Idiomas</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var curriculo in Model)
        {
                <tr>
                    <td>
                        <a href="/Curriculo/Details/@curriculo.Id" class="btn btn-info btn-sm">Detalhes</a>
                        <a href="/Curriculo/Edit/@curriculo.Id" class="btn btn-warning btn-sm">Editar</a>
                        <a href="/Curriculo/Delete/@curriculo.Id" class="btn btn-danger btn-sm">Excluir</a>
                    </td>
                    <td>@curriculo.Id</td>
                    <td>@curriculo.Nome</td>
                    <td>@curriculo.CPF</td>
                    <td>@curriculo.Telefone</td>
                    <td>@curriculo.Email</td>
                    <td>@curriculo.CargoPretendido</td>
                    <td>
                        <ul>
                        @if (!string.IsNullOrEmpty(curriculo.Formacao1))
                        {
                            <li>@curriculo.Formacao1</li>
                        }
                        @if (!string.IsNullOrEmpty(curriculo.Formacao2))
                        {
                            <li>@curriculo.Formacao2</li>
                        }
                        @if (!string.IsNullOrEmpty(curriculo.Formacao3))
                        {
                            <li>@curriculo.Formacao3</li>
                        }
                        @if (!string.IsNullOrEmpty(curriculo.Formacao4))
                        {
                            <li>@curriculo.Formacao4</li>
                        }
                        @if (!string.IsNullOrEmpty(curriculo.Formacao5))
                        {
                            <li>@curriculo.Formacao5</li>
                        }
                        </ul>
                    </td>
                    <td>
                        <ul>
                        @if (!string.IsNullOrEmpty(curriculo.Idioma1))
                        {
                            <li>@curriculo.Idioma1</li>
                        }
                        @if (!string.IsNullOrEmpty(curriculo.Idioma2))
                        {
                            <li>@curriculo.Idioma2</li>
                        }
                        @if (!string.IsNullOrEmpty(curriculo.Idioma3))
                        {
                            <li>@curriculo.Idioma3</li>
                        }
                        </ul>
                    </td>
                </tr>
        }
    </tbody>
</table>
